{% extends "base.html" %}

{% block content %}
  {% if player.message %}
    <div class="alert _info">{{ player.message }}</div>
  {% endif %}

  {% if player.assignment %}
    <div class="alert _success">
      {{ player.assignment_message or player.assignment }}
    </div>
  {% endif %}

  <form action="/" method="post">
    <fieldset>
      <label for="nameField">Name</label>
      <input type="text" name="name" placeholder="(enter your name)" value="{{ player.name }}" {% if started %}disabled{% endif %}>
      <label for="preferenceField">Preference</label>
        <select name="preference" {% if started %}disabled{% endif %}>
          {% for option in preference_options %}
            <option value="{{ option }}" {% if option == player.preference %}selected="selected"{% endif %}>{{ option }}</option>
          {% endfor %}
        </select>
      <br/>
      {% if not started %}
        <input class=" _primary button" type="submit" name="submit" value="{% if player.preference %}Update{% else %}Submit{% endif %}">
        {% if player %}
          <input class=" _danger button" type="submit" name="quit" value="Leave Game">
        {% endif %}
      {% endif %}
    </fieldset>

    <fieldset>
      {% if players %}
        <table>
          <thead>
            <tr>
              <th>#</th>
              <th>Player Id</th>
              <th>Name</th>
              <th>Preference</th>
              <th>Assignment</th>
            </tr>
          </thead>
          <tbody>
          {% for player in players %}
            <tr>
              <td>{{ player.number }}</td>
              <td>{{ player.key }}</td>
              <td>{{ player.name }}</td>
              <td>{{ player.preference }}</td>
              <td>{{ player.assignment }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% endif %}

      <input class=" _success button" type="submit" name="refresh" value="Refresh">
      {% if not started %}
        <input class=" _warning button" type="submit" name="start" value="Start Game">
      {% else %}
        <input class=" _danger button" type="submit" name="end" value="End Game">
      {% endif %}

    </fieldset>
  </form>

 <br/>
 <small>Your Player Id: {{ session.id }}</small>

{% endblock content %}