{% extends "base.html" %}


{% block content %}
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>IP</th>
      <th>Port</th>
      <th>Preference</th>
      <th>Assignment</th>
    </tr>
  <thead/>
  <tbody>
    {% for player in player_data.values() %}
      <tr>
        <td>{{ player.name }}</td>
        <td>{{ player.ip }}</td>
        <td>{{ player.port }}</td>
        <td>{{ player.preference }}</td>
        <td>{{ player.assignment }}</td>
      </tr>
    {% endfor %}
  <tbody/>
<table/>
{% endblock content %}